{% extends "webapp/base.html" %}

{% block content %}

    <main class="col-md-9 col-lg-10 p-4">
        <div class="text-center">
            <h2>Welcome, {{ username }}!</h2>
            <p>Please select an option from the sidebar.</p>
        </div>

        {% for property in properties %}
            <div class="card mb-3 p-3">
                <p>{{ property.name }}</p>
                <a href="question/{{ property.id }}"><button class="btn btn-secondary">Go</button></a>
            </div>
        {% endfor %}
    </main>

{% endblock content %}