{% include "webapp/partials/header.html" %}

{% block content %}
<div class="container text-center mt-5">
    <div class="welcome-text mb-4">
        <h2>Welcome to the LearnX Portal</h2>
        <p>Please login or register to continue.</p>
    </div>
    <div class="d-grid gap-2 d-md-block">
        <a href="login" class="btn btn-secondary">Login</a>
        <a href="register/" class="btn btn-secondary">Register</a>
    </div>
</div>

{% endblock content %}

{% include "webapp/partials/footer.html" %}